@{
    ViewBag.Title = "Smooth_Index";
}
<h2>石沐汗坊紀錄系統-主頁面</h2>
@Model IEnumerable<MvcApplication2.Models.CUSTOMER_RECORDS>
    @{
        ViewBag.Title = "石沐汗坊會員記錄系統";
    }

    <div>
        @if (Model != null)
        {
            <table border="1">
                <tbody>
                    <tr color="red"></tr>
                    <tr>
                        <td>流水號:</td>
                        <td>會員編號：</td>
                        <td>年</td>
                        <td>月</td>
                        <td>日</td>
                        <td>金額</td>
                        <td>關鍵字</td>
                        <td>交易編號</td>
                        <td>修改日</td>
                        <td>修改人</td>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NO</td>
                            <td>@item.MEMBER_ID</td>
                            <td>@item.DATE_Y</td>
                            <td>@item.DATE_M</td>
                            <td>@item.DATE_D</td>
                            <td>@item.COST</td>
                            <td>@item.KEYWORD</td>
                            <td>@item.RECEIPT_NUM</td>
                            <td>@item.MODIFY_DATE</td>
                            <td>@item.MODIFY_USER</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <br />

    <div>
        @Html.ActionLink("我們來新增石沐汗坊的會員紀錄資料吧!", "Smooth_Create");
    </div>
